{% extends 'layout_in.html' %}
{% block content %}
<h1>Available Campaigns</h1>
{% include 'searchbar_in.html'   %}
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">CampID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Budget</th>
      <th scope="col">Niche</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for campaign in campaigns %}
    <tr>
      <td>{{ campaign.Campaign_id }}</td>
      <td>{{ campaign.name }}</td>
      <td>{{ campaign.description }}</td>
      <td>{{ campaign.start_date }}</td>
      <td>{{ campaign.end_date }}</td>
      <td>{{ campaign.budget }}</td>
      <td>{{ campaign.niche }}</td>
      <td>
        <form method="post" action="{{ url_for('accept_campaign', id=campaign.Campaign_id) }}">
          <button type="submit" class="btn btn-outline-success">Accept</button>
        </form>
      </form>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}