{% extends 'layout_adm.html' %}
{% block content %}
  <h1>All Requests</h1>
  <table class="table table-bordered  table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 50px;">Request ID</th>
        <th scope="col" style="width: 50px;">Influencer ID</th>
        <th scope="col" style="width: 100px;">Campaign Name</th>
        <th scope="col">Campaign Description</th>
        <th scope="col" style="width: 100px;">Start Date</th>
        <th scope="col" style="width: 100px;">End Date</th>
        <th scope="col" style="width: 50px;">Budget</th>
        <th scope="col" style="width: 100px;">Niche</th>
        <th scope="col" style="width: 50px;">Influencer Agreed</th>
        <th scope="col" style="width: 50px;">Sponsor Agreed</th>
        <th scope="col" style="width: 100px;">New Price</th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      <tr>
        <td>{{ request.request_id }}</td>
        <td>{{ request.influencer_id }}</td>
        <td>{{ request.campaign.name }}</td>
        <td style="width: 100px;">{{ request.campaign.description }}</td>
        <td>{{ request.campaign.start_date }}</td>
        <td>{{ request.campaign.end_date }}</td>
        <td>{{ request.campaign.budget }}</td>
        <td>{{ request.campaign.niche }}</td>
        <td>{{ request.influencer_agreed }}</td>
        <td>{{ request.sponsor_agreed }}</td>
        <td>
          {% if request.new_price is none %} {{ request.campaign.budget }}
          {% else %} {{ request.new_price }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}