{% extends 'layout_adm.html' %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-9">
        <h1>All Campaigns</h1>
      </div>
      <div class="col-3 text-right">
          <a class="btn btn-outline-success" style="margin-top: 10px;" href="{{ url_for('register_campaign') }}">Register New Campaign</a>
      </div>
  </div>
</div>
<table class="table table-bordered  table-hover">
  <thead>
    <tr>
      <th scope="col">CampID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Budget</th>
      <th scope="col">Niche</th>
      <th scope="col">Visibility</th>
      <th scope="col">Sponsor</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for campaign in campaigns %}
    <tr>
      <td>{{ campaign.Campaign_id }}</td>
      <td>{{ campaign.name }}</td>
      <td>{{ campaign.description }}</td>
      <td>{{ campaign.start_date }}</td>
      <td>{{ campaign.end_date }}</td>
      <td>{{ campaign.budget }}</td>
      <td>{{ campaign.niche }}</td>
      <td>{{ campaign.visibility }}</td>
      <td>{{ campaign.sponsor_id}}</td>
      <td>
        <a class="btn btn-outline-primary" href="{{ url_for('unflag_campaign', id=campaign.Campaign_id) }}">Unflag</a>
        <a class="btn btn-outline-danger" href="{{ url_for('delete_campaign', id=campaign.Campaign_id) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}