<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" >Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile') }}"">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('find') }}">All users</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('find_camp') }}">All campaigns</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('find_ads') }}">All Ads</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('find_req') }}">All Request</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('flag_users') }}">Flagged Users</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('flag_camps') }}">Flagged Campagins</a>
        </li>
        <li >
          <a class="btn btn-outline-danger" href="{{ url_for('logout') }}"">Logout</a>  
        </li>
      </ul>
    </div>
</nav>

<style>
.navbar {
    width: 100%;
    padding: 0;
}    
</style>