{% extends 'layout.html' %}
{% block title %}
Registration Page
{% endblock %}
{% block content %}
    <h1>Register</h1>

    <form method="post">
        <label for="name"  class="form-label">Name*
        <input type="text" id="name" name="name" class="form-control" required/>
        </label>
        <label for="username" class="form-label">Username*
        <input type="text" name="username" id="username" class="form-control" required/>
        </label>
        <label for="email" class="form-label">Email*
        <input type="text" name="email" id="email" class="form-control" required/>
        </label>
        <label for="password" class="form-label">Password*
        <input type="password" name="password" id="password" class="form-control" required/>
        </label>
        <label for="role" class="form-label">Role*
        <select class="form-select" aria-label="Default select example" id="role" name="role" required>
          <option value="influencer">Influencer</option>
          <option value="sponsor">Sponsor</option>
        </select>
        </label>
        <label for="niche" class="form-label">Niche
        <input type="text" id="niche" name="niche" class="form-control"/>
        </label>
        <label for="platform" class="form-label">Platform (For influencers only)
        <input type="text" id="platform" name="platform" class="form-control"/>
        </label>
        <label for="followers" class="form-label">No. of Followers (For influencers only)
        <input type="number" id="followers" name="followers" class="form-control"/>
        </label><br>
        <input type="submit" value="Register" class="btn btn-success">
        
      </form>
{% endblock %}
{% block style %}
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        body {
            background-color: #f5f5f5;
        }   
        h1 {
            margin-top: 64px;
            text-align: center;
        } 
    </style>
{% endblock %}