{% extends 'layout_sp.html' %}

{% block content %}
  <h1>Requests</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="width: 50px;">Request ID</th>
        <th scope="col" style="width: 50px;">Influencer ID</th>
        <th scope="col" style="width: 100px;">Campaign Name</th>
        <th scope="col">Campaign Description</th>
        <th scope="col" style="width: 100px;">Start Date</th>
        <th scope="col" style="width: 100px;">End Date</th>
        <th scope="col" style="width: 50px;">Budget</th>
        <th scope="col" style="width: 100px;">Niche</th>
        <th scope="col" style="width: 100px;">New Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      <tr>
        <td>{{ request.request_id }}</td>
        <td>{{ request.influencer_id }}</td>
        <td>{{ request.campaign.name }}</td>
        <td style="width: 100px;">{{ request.campaign.description }}</td>
        <td>{{ request.campaign.start_date }}</td>
        <td>{{ request.campaign.end_date }}</td>
        <td>{{ request.campaign.budget }}</td>
        <td>{{ request.campaign.niche }}</td>
        <td>
          {{ request.new_price }}
          <form action="{{ url_for('negotiate_request', request_id=request.request_id) }}" method="post">
            <input type="number" name="new_price" required placeholder="Enter amt" style="width: 100px;">
            <input type="submit" class="btn btn-outline-warning" value="Negotiate" >
          </form>
        </td>
        <td>
  <form action="{{ url_for('accept_request', request_id=request.request_id) }}" method="post" style="display: inline-block;">
    <input type="submit" class="btn btn-outline-success" value="Accept" {% if request.new_price is none %}disabled{% endif %}>
  </form>
  <a class="btn btn-outline-primary" href="{{ url_for('edit_campaign', id=request.campaign_id) }}">Edit</a>
  <form action="{{ url_for('reject_request', request_id=request.request_id) }}" method="post" style="display: inline-block;">
    <input type="submit" class="btn btn-outline-danger" value="Reject">
  </form>
</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}